<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean class="com.sgxy.spring.aop.interfaces.impl.MyCalculator_withoutInter" id="calculator_withoutInter"></bean>

    <bean class="com.sgxy.spring.aop.utils.LogUtils_withoutInter" id="logUtils_withoutInter"></bean>

    <bean class="com.sgxy.spring.aop.utils.TransactionManager" id="transactionManager"></bean>

    <aop:config>

        <!--定义全局的切入点表达式-->
        <aop:pointcut id="mypc"
                      expression="execution(* com.sgxy.spring.aop.interfaces.impl.MyCalculator_withoutInter.*(..))"/>

        <aop:aspect ref="logUtils_withoutInter" order="2">

            <aop:before method="logStart"
                        pointcut="execution(* com.sgxy.spring.aop.interfaces.impl.MyCalculator_withoutInter.*(..))"></aop:before>

            <aop:after-returning method="logEnd" pointcut-ref="mypc" returning="result"></aop:after-returning>

            <aop:after-throwing method="logException" pointcut-ref="mypc" throwing="e"></aop:after-throwing>

            <aop:after method="logFinal" pointcut-ref="mypc"></aop:after>

            <!-- <aop:around method="logAround" pointcut-ref="mypc"></aop:around>-->
        </aop:aspect>

        <aop:aspect ref="transactionManager" order="1">

            <aop:before method="setAutoCommit" pointcut-ref="mypc"></aop:before>

            <aop:after-returning method="commit" pointcut-ref="mypc"></aop:after-returning>

            <aop:after-throwing method="rollback" pointcut-ref="mypc"></aop:after-throwing>

            <aop:after method="release" pointcut-ref="mypc"></aop:after>
        </aop:aspect>


    </aop:config>
</beans>